.header{
    margin-top: 110px;
    display: flex;
    flex-direction: row;
    gap: 34px;
    margin-left: 276px;
    margin-bottom: 26px;
}

.header_title{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #4F148B;
    margin-top: 30px;
}
